@using Application2016;
@using CaptchaMvc.HtmlHelpers;
@using CaptchaMvc;
@model Application2016.Areas.Admin.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Areas/Admin/Views/User/_LoginLayout.cshtml";
}
@section MainLogin{
<div id="forgot-box" class="signup-box widget-box no-border visible">
	<div class="widget-body">
        <div class="widget-main">
		    <h4 class="header green lighter bigger">
			    <i class="ace-icon fa fa-users blue"></i>
			    Tạo tài khoản mới!
		    </h4>

		    <div class="space-6"></div>
		    <p> Nhập thông tin tài khoản: </p>
            @using (Html.BeginForm("Register", "User", new { area = "Admin" }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(m => m.Type)
			    <fieldset>
				    <label class="block clearfix">
					    <span class="block input-icon input-icon-right">
						    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Email)
                            <i class="ace-icon fa fa-envelope"></i>
					    </span>
				    </label>

				    <label class="block clearfix">
					    <span class="block input-icon input-icon-right">
						    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
                            @Html.ValidationMessageFor(m => m.UserName)
						    <i class="ace-icon fa fa-user"></i>
					    </span>
				    </label>

				    <label class="block clearfix">
					    <span class="block input-icon input-icon-right">
						    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
                            @Html.ValidationMessageFor(m => m.Password)
                            <i class="ace-icon fa fa-lock"></i>
					    </span>
				    </label>

				    <label class="block clearfix">
					    <span class="block input-icon input-icon-right">
						    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Xác nhận Mật khẩu" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
						    <i class="ace-icon fa fa-retweet"></i>
					    </span>
				    </label>

                    <label class="block clearfix">
					    <span class="block input-icon input-icon-right">
						    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "Số điện thoại" })
                            @Html.ValidationMessageFor(m => m.PhoneNumber)
						    <i class="ace-icon fa fa-phone"></i>
					    </span>
				    </label>

                    <label class="block clearfix">
                        <label class="left">Captcha </label>
                        @Html.MathCaptcha()                        
                    </label>
                    <p class="field-validation-error">  @ViewBag.ErrMessage </p>  
				    <label class="block">
					    <input type="checkbox" class="ace" onchange="document.getElementById('btnRegister').disabled = !this.checked;" />
					    <span class="lbl">
						    Tôi chấp nhận 
						    <a href="#">Điều khoản quy định</a> của website.
					    </span>
				    </label>

				    <div class="clearfix">
					    <button type="reset" class="width-30 pull-left btn btn-sm">
						    <i class="ace-icon fa fa-refresh"></i>
						    <span class="bigger-110">Reset</span>
					    </button>

					    <button type="submit" id="btnRegister" class="width-65 pull-right btn btn-sm btn-success" disabled="disabled">
						    <span class="bigger-110">Đăng ký</span>

						    <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
					    </button>
				    </div>
			    </fieldset>
            }
	    </div>

	    <div class="toolbar center">
		    <a href="@Url.Action("Login","User")" data-target="#login-box" class="back-to-login-link">
			    <i class="ace-icon fa fa-arrow-left"></i>
			    Đăng nhập
		    </a>
	    </div>
    </div>
</div>
}

